extends layout

block content
    .row
        .col-md-4
            .card
                .card-header
                    h3 Editer la tâche
                .card-body
                    form(method="POST" action="/editer/" + todo.id + "?_method=PUT")
                        .form-group
                            label(for='todo') Editer une tâche :
                            input.form-control#todo(type='text', value=todo.title , name="title").mb-2
                            button(type="submit").btn.btn-primary.btn-block Editer
