extends layout

block content
    .row
        .col-md-4
            .card
                .card-header
                    h3 Ajouter une tâche
                .card-body
                    form(action="/ajouter", method="POST")
                        .form-group
                            label(for='todo') Ajouter une tâche :
                            input.form-control#todo(type='text', name="title").mb-2
                            input(type="submit", value="Ajouter").btn.btn-primary.btn-block
        .col-md-8
            table.table.table-striped
                thead
                    tr
                        th(scope='col') Id
                        th(scope='col') Todo
                        th(scope='col') Edit
                        th(scope='col') Delete
                tbody
                    each todo in todos
                        tr
                            th(scope='row')= todo.id
                            td= todo.title
                            td
                                a(href="/editer/" + todo.id).btn.btn-danger Edit
                            td
                                form(method="POST", action="/supprimer/" + todo.id + "?_method=DELETE")
                                    button(type="submit").btn.btn-primary Delete
